body {
  color: #5a5c69;
  font-size: 0.875rem;
}

.navbar-customer {
  position: sticky;
  top: 0;
  z-index: 2;
}

.breadcrumb .breadcrumb-item {
  font-size: 0.75rem;
}

.breadcrumb {
  margin-top: 1rem;
}

.breadcrumb .breadcrumb-item a {
  color: #fb8080;
}

.navbar.rounded-bottom {
  border-bottom-right-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
}

.carousel img {
  min-height: 360px;
  max-height: 360px;
  object-fit: cover;
  object-position: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: small;
}

.topbar-divider {
  height: calc(3rem - 2rem) !important;
}

.card .card-img-top {
  max-height: 250px;
  object-fit: cover;
  object-position: top;
}

.card .card-title {
  color: #00000059;
}
.card .card-title:hover {
  text-decoration: none;
}

.card .card-text {
  font-size: 0.8125rem;
}

.bg-gradient-main {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );

  background-size: cover;
}

.bg-gradient-secondary {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}

.btn-geraldine {
  color: white;
  background-color: #fb8080;
}

.btn-geraldine:hover {
  color: white;
  background-color: #fb8080;
}

.text-geraldine {
  color: #fb8080;
}

.right-of-parent {
  right: 0;
  bottom: 0;
  top: 0;
}

input[type="text"].no-focus-border:focus {
  border-color: none;
  z-index: 0;
  box-shadow: none;
}

.bg-login-image {
  background: url("../img/5947e06838c21dbee4c763b6d3d8b9be.jpeg");
  background-position: top;
  background-size: cover;
}

.card-product-h {
  min-height: 23.25rem;
}

.card-product-h .card-header {
  min-height: 15.9375rem;
}

.card-product-h .card-img {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.form-group sup {
  color: #e74a3b !important;
}
